<div id="main-container" class="container">

      <div class="row">
        <div id="sidebar" class="col-xs-6">
					<div class ="headr">
          	<h1>Get in Touch</h1>
					</div>
        </div>

        <div id="content" class="col-xs-6">
					<h3>Nam vitae ornare orci. Nam interdum bibendum luctus. Curabitur fermentum turpis luctus egestas mollis.</h3>

					<p>Etiam luctus viverra tellus, quis sagittis magna dapibus ac. Maecenas a felis leo. Sed finibus, ante vel finibus tempor, urna neque bibendum dolor, et ultricies urna urna quis dui. Mauris massa lacus, dapibus ac vulputate id, sagittis in mi. Nam vitae ornare orci. Nam interdum bibendum luctus. Curabitur fermentum turpis luctus egestas mollis. Cras iaculis id quam a aliquam.</p>
        </div>
      </div>
    </div>