<h1>Welcome to the Adventures Page</h1>

<h2>We love doing fun things.</h2>

<p>Our group travels all over the U.S. and the world looking for awesome adventures. Once we have found the best and most fun, then it's time to share the excitement with you.</p>

<h3>Some of the activities that you can join in on.</h3>

<ul>
	<li>Sky diving</li>
	<li>Shark diving</li>
	<li>White water rafting</li>
	<li>Surfing</li>
	<li>Mt. biking</li>
	<li>ATV tours</li>
	<li>Ziplining</li>
	<li>Spelunking</li>
</ul>


